.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;
    
    &:not(:last-child) {
        // Everything except the last child
        margin-bottom: $gutter-vertical
    };
}